* {
    margin: 0;
    padding: 0;
}
.hero {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 2fr;
    grid-template-areas: "text dishphoto";
    background-color: #21342E;
}
.textfont {
    font-family: 'Markazi Text', serif;
    color: #F4CE14;
}
.lines {
    color: white;
}