* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/*Flex CSS
.containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 202px;
  height: 76px;
}

ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;

  flex-direction: column;
}

li {
  color: #495E57;
  border-radius: 5px;
  margin: 2px;
  padding: 10px;
  font-size: 14px;
  font-family:monospace;
  position: relative;
  }

.test {
  flex: 0 1 auto;
}

nav ul li::after {
  content: '';
  height: 3px;
  width: 0;
  background-color: #495E57;
  position:absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s;
}

nav ul li:hover::after {
  width: 100%;
}
*/

/*grid css starts here*/

.containers {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "logo menus";
  margin-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px;
}
header nav img {
  grid-area: logo;
  justify-self: center;
}
header nav ul {
  grid-area: menus;
  list-style-type: none;
  align-self: center;
  color: #495E57;
}
li {
  display: inline-block;
  color: #495E57;
  margin-right: 10px;
  font-weight: 500;
  font-family: 'Markazi Text', serif;
  font-size: 20px;
}
.links{
  color: #495E57;
}
.links:visited {
  color: #495E57;
}
#toggle {
  display: none;
}

@media only screen and (max-width:600px) {
  .containers {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2,fr);
    grid-template-areas: "logo"
                         "menus";
    align-items: center;
    margin: 0;
    padding: 0;
  }
  header nav img {
    grid-area: logo;
    justify-self: center;
    padding-bottom: 5px;
  }
  header nav ul {
    grid-area: menus;
    list-style-type: none;
    transform: translateX(-500%);
    z-index: -1;
    transition: 0.1s;
  }
  .list1 {
    display: none;
    padding-bottom: 5px;
    justify-items: center;
  }
  .navbar-toggle{
    display: grid;
    grid-area: logo;
    height: min-content;
    }
  .bar {
    width: 25px;
    height: 2px;
    margin-bottom: 5px;
    margin-right: 30px;
    border-radius: 3px;
    background-color: #333;
    justify-self: end;
  }
  input:checked ~ nav .lists {
    transform: translateX(0%);
    z-index: 1;
    transition: 0.6s;
  }
  input:checked ~ nav .list1 {
    display: grid;
   }
}